@charset "UTF-8";

html, body {
	margin: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica;
	color: #333;
	font-size: 14px;
}

body {
	
}

/*
==============================
          HEADERS
==============================
*/

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 0;
	font-weight: 900;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

/*
==============================
          TABLES
==============================
*/

table {
	border: 1px solid #CCC;
	border-collapse: collapse;
}

th {
	padding: 10px;
	background-color: #FFF;
	
}

td {
	padding: 10px;
	border: 1px solid #CCC;
}

tr {
	background-color: #F9F9F9;
}

tr:hover {
	background-color: #EEE !important;
}

tr:nth-child(odd) {
	background-color: #F6F6F6;
}

/*
==============================
          LISTS
==============================
*/

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
}

ul a {
	text-decoration: none;
	color: #000;
}

li {
	background-color: #F9F9F9;
	padding: 5px;
	border-bottom: 1px solid #EEE;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

li:hover {
	background-color: #FFF;
}

/*
==============================
          INPUT
==============================
*/

::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder { 
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}

textarea, input {
	font-family: inherit;
	display: inline-block;
	font-size: 14px;
	color: #333;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea:focus, input:focus {
	border-color: rgba(0, 0, 0, 0.4);
	outline: none !important;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}

/*
==============================
          PRE/CODE
==============================
*/

code {
	background-color: #F6F6F6;
	padding: 0px 2px;
	border: 1px solid #CCC;
	color: #CE6161;
}

pre code {
	border: none;
	padding: 0px;
	background-color: #FFF !important;
	color: #333;
}

pre {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-left: 5px solid #CCC;
	padding: 5px;
}